*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

li { list-style: none; }

a { text-decoration: none; color: inherit; }

a,
img,
span,
time,
input,
button,
ion-icon { display: block; }


img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; -webkit-tap-highlight-color: transparent; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: $ff-poppins;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: $raisin-black-3;
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }

