.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3 {
  color: $white;
  font-family: $ff-oxanium;
  font-weight: $fw-800;
  line-height: 1;
}

.h1 {
  font-size: $fs-2;
  letter-spacing: -3px;
}

.h2 {
  font-size: $fs-3;
}


.h3 {
  font-size: $fs-6;
  text-transform: uppercase;
}


:is(.h1, .h2, .h3, .card-price) .span {
  display: inline-block;
  color: $marigold;
}


.btn {
  margin-inline: auto;
  color: $eerie-black-1;
  font-size: $fs-8;
  font-weight: $fw-700;
  text-transform: uppercase;
  min-height: 55px;
  padding-inline: 35px;


  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% + 8px);
    width: 5px;
    background-color: var(--bg, $marigold);
    transform: skewX(var(--skewX, -16deg)) translateX(var(--translateX, 0));
    transition: $transition;
  }
  
  &:is(:hover, :focus):after { --translateX: -13px; }

}

.skewBg {
  position: relative;
  z-index: 1;


  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg, $marigold);
    transform: skewX(var(--skewX, -16deg));
    z-index: -1;
  }

}


.has-scrollbar {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-block-end: 30px;
  scroll-snap-type: inline mandatory;
  
  &::-webkit-scrollbar{ height: 10px; }
  &::-webkit-scrollbar-track{ outline: 3px solid $marigold; }
  &::-webkit-scrollbar-thumb{ background-color: $marigold; }
  &::-webkit-scrollbar-button{ width: calc(25% - 40px); }
}


.section-subtitle,
.section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.section-subtitle {
  color: $silver;
  font-size: $fs-9;
  font-weight: $fw-700;
  margin-block-end: 10px;
}

.section-title:after {
  content: url("../assets/images/title-underline.png");
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.card-banner { background-color: $light-gray-1; }

.img-holder { aspect-ratio: var(--width) / var(--height); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-badge {
  min-height: 30px;
  color: $eerie-black-1;
  font-size: $fs-11;
  font-weight: $fw-700;
  text-transform: uppercase;
  max-width: max-content;
  display: grid;
  align-items: center;
  padding-inline: 30px;
  
  &:before { --skewX: -10deg; }
}

.w-100 { width: 100%; }

.section-text {
  color: var(--color, $light-gray-1);
  font-size: $fs-8;
  font-weight: $fw-500;
  max-width: 65ch;
  margin-inline: auto;
  text-align: center;
  line-height: 1.8;
}
